* {
    margin: 0;
}


body {
    background: gray;

}


.clickUser {
    margin: 20px;
    width: 250px;
    border-style: solid;
    border-radius: 10px;
    background: burlywood;
    padding: 10px;
    text-transform: capitalize;
}

.clickNumber {
    margin: 20px;
    width: 290px;
    border: 8px solid black;
    border-radius: 10px;
    background: mediumpurple;
    padding: 10px;
    text-transform: uppercase;
    text-shadow: 2px 2px darkred;
}


button {
    border-radius: 5px;
    background-color: gold;
    padding: 5px;
    text-transform: uppercase;
    margin: 5px;
}


.popUser {
    margin: 20px;
}